.git
.idea
.vscode
.vs
.github

**/bin
**/obj
TestResults

**/node_modules
**/dist
**/dist-ssr
**/coverage
**/storybook-static

**/.env
!**/.env.example
**/*.local

**/*.log

.DS_Store

__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__blobstorage__
__queuestorage__
__tablestorage__

coverage
src/cohabit.story/storybook-static
