./bin
./obj
/.vs/verification.api.slnx/v18
/.vs/verification.api.slnx/FileContentIndex
/src/verification.api/.vs/verification.api.slnx
/src/verification.api/obj
/src/cohabit.application/bin/Debug/net10.0
/src/cohabit.application/obj/Debug/net10.0/ref
/src/cohabit.application/obj/Debug/net10.0/refint
/src/verification.api/bin/Debug/net10.0
/src/cohabit.application/obj/Debug/net10.0
/.vs/cohabit.slnx/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/cohabit.slnx/FileContentIndex
/.vs/cohabit.slnx/v18
/.vs/verification.api.slnx/DesignTimeBuild
/src/cohabit.application/obj
/test/verification.api.unit.tests/bin/Debug/net10.0
/test/verification.api.unit.tests/obj
/.vs/cohabit.slnx/config

/src/cohabit.api/obj
/src/cohabit.api/bin/Debug/net10.0
/test/cohabit.api.unit.tests/bin/Debug/net10.0
/test/cohabit.api.unit.tests/obj
/src/cohabit.aspire/cohabit.aspire.AppHost/bin/Debug/net10.0
/src/cohabit.aspire/cohabit.aspire.AppHost/obj
/src/cohabit.aspire/cohabit.aspire.ServiceDefaults/bin/Debug/net10.0
/src/cohabit.aspire/cohabit.aspire.ServiceDefaults/obj/Debug/net10.0
/src/cohabit.aspire/cohabit.aspire.ServiceDefaults/obj
/.vs/cohabit.slnx
